
body{
    background-color: black;
}

h1{
    font-size: xx-large;
    font-style: italic;
    color: green;
}

p{
    font-family: monospace;
}

#p1 {
    font-size: large;
    color:orange;
}

#p2 {
    font-size: larger;
    color:red;
}

#p3 {
    font-size: x-large;
    color: rebeccapurple;
}

#p4{
    font-size: xx-large;
    color: pink ;
}

